/* React Starter Kit | MIT License | http://www.reactstarterkit.com/ */

@import '../variables.css';

.ContactPage-container {
  margin: 0 20px;
  padding: 0 0 40px;
  min-width: var(--max-content-width);
}
